In [1]:
# pip install pandas
# pip install matplotlib
# pip install seaborn
# pip install latex
# pip install beautifulsoup4
# pip install sklearn
# pip install numpy
# pip install urlextract
# pip install wordcloud
# pip install scikit-plot
# pip install transformers
# pip install tensorflow
# pip list

In [2]:
import pandas as pd

df = pd.read_csv("fraud_email_.csv")
pd.set_option('display.max_colwidth', 500)
df["id"] = df.index

first_column = df.pop('id')
df.insert(0, 'id', first_column)
df.columns = [x.lower() for x in df.columns] #lowercase headers

df.head(5)
# class == 1 is fraud email

,id,text,class
0,0,"Supply Quality China's EXCLUSIVE dimensions at Unbeatable Price.Dear Sir, We are pleased to inform you as one of China's largest export & import sto=ne company-Wanlistone Group, The Group its subsidiaries specialize in the q=uarrying, processing and Sales of dimension stone, slab and tiles and dimen=sion stone products for the building materials sector and specialty markets==2E The Group operations are based in Xiamen, South of China, which is the lar=gest export and import business portals ...",1
1,1,over. SidLet me know. Thx.,0
2,2,"Dear Friend,Greetings to you.I wish to accost you with a request that would be of immense benefit to both of us. Being an executor of wills, it is possible that we may be tempted to make fortune out of our client's situations, when we cannot help it, or left with no better option. The issue I am presenting to you is a case of my client who willed a fortune to his next-of-kin. It was most unfortunate that he and his next-of-kin died on the same day the 31st October 1999 in an Egyptian airline...",1
3,3,"MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD. BRANCH,CENTRAL HONG KONG,HONG KONG. Let me start by introducing myself. I am Mr.Cheung Pui director of operations of the Hang Seng Bank Ltd. I have an urgent business suggestion for you.I honestly apologize and hope I do not cause you much embarrassment by contacting you through this means for a transaction of this magnitude,but this is due to confidentiality and prompt access reposed on this medium.Furthermore,due to this issue on my hands now,...",1
4,4,Not a surprising assessment from Embassy.,0

In [3]:
# add test row
df.loc[-1] = [-1, 'http://www.google.com http:/ew.bbc.com http://www.facebook.com yomama@gmail.com fakeass@huh', 1]  # adding a row
df.index = df.index + 1  # shifting index
df.sort_index(inplace=True) 
df.head()

,id,text,class
0,-1,http://www.google.com http:/ew.bbc.com http://www.facebook.com yomama@gmail.com fakeass@huh,1
1,0,"Supply Quality China's EXCLUSIVE dimensions at Unbeatable Price.Dear Sir, We are pleased to inform you as one of China's largest export & import sto=ne company-Wanlistone Group, The Group its subsidiaries specialize in the q=uarrying, processing and Sales of dimension stone, slab and tiles and dimen=sion stone products for the building materials sector and specialty markets==2E The Group operations are based in Xiamen, South of China, which is the lar=gest export and import business portals ...",1
2,1,over. SidLet me know. Thx.,0
3,2,"Dear Friend,Greetings to you.I wish to accost you with a request that would be of immense benefit to both of us. Being an executor of wills, it is possible that we may be tempted to make fortune out of our client's situations, when we cannot help it, or left with no better option. The issue I am presenting to you is a case of my client who willed a fortune to his next-of-kin. It was most unfortunate that he and his next-of-kin died on the same day the 31st October 1999 in an Egyptian airline...",1
4,3,"MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD. BRANCH,CENTRAL HONG KONG,HONG KONG. Let me start by introducing myself. I am Mr.Cheung Pui director of operations of the Hang Seng Bank Ltd. I have an urgent business suggestion for you.I honestly apologize and hope I do not cause you much embarrassment by contacting you through this means for a transaction of this magnitude,but this is due to confidentiality and prompt access reposed on this medium.Furthermore,due to this issue on my hands now,...",1

In [4]:
#Remove "=" symbol from data
df['text'] = df['text'].astype(str) # cast as string
df['text'] = df['text'].apply(lambda x: x.replace("=",''))
df.head(5)

,id,text,class
0,-1,http://www.google.com http:/ew.bbc.com http://www.facebook.com yomama@gmail.com fakeass@huh,1
1,0,"Supply Quality China's EXCLUSIVE dimensions at Unbeatable Price.Dear Sir, We are pleased to inform you as one of China's largest export & import stone company-Wanlistone Group, The Group its subsidiaries specialize in the quarrying, processing and Sales of dimension stone, slab and tiles and dimension stone products for the building materials sector and specialty markets2E The Group operations are based in Xiamen, South of China, which is the largest export and import business portals in Chi...",1
2,1,over. SidLet me know. Thx.,0
3,2,"Dear Friend,Greetings to you.I wish to accost you with a request that would be of immense benefit to both of us. Being an executor of wills, it is possible that we may be tempted to make fortune out of our client's situations, when we cannot help it, or left with no better option. The issue I am presenting to you is a case of my client who willed a fortune to his next-of-kin. It was most unfortunate that he and his next-of-kin died on the same day the 31st October 1999 in an Egyptian airline...",1
4,3,"MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD. BRANCH,CENTRAL HONG KONG,HONG KONG. Let me start by introducing myself. I am Mr.Cheung Pui director of operations of the Hang Seng Bank Ltd. I have an urgent business suggestion for you.I honestly apologize and hope I do not cause you much embarrassment by contacting you through this means for a transaction of this magnitude,but this is due to confidentiality and prompt access reposed on this medium.Furthermore,due to this issue on my hands now,...",1

In [5]:
df.iloc[0,1:2]['text']

'http://www.google.com http:/ew.bbc.com http://www.facebook.com yomama@gmail.com fakeass@huh'

In [6]:
df2 = df.copy()

import re

# ** ASSUMPTION THAT url be it fake or real, starts with http. if there is fake url that do not start with http,
# it is not detected as a url.

URLPATTERN = r'(HTTP:|http\S+)'
# urlpattern2 = '(?:(?:https?|ftp):\/\/)?[\w/\-?=%.]+\.[\w/\-&?=%.]+' --> cant find a best regex to identify url

EMAILPATTERN = r"[a-zA-Z0-9\.\-+_]+@[a-zA-Z0-9\.\-+_]+[a-zA-Z0-9\.\-+_]+"

df2['urlcount'] = df2.text.apply(lambda x: re.findall(URLPATTERN, x)).str.len()
df2['emailcount'] = df2.text.apply(lambda x: re.findall(EMAILPATTERN, x)).str.len()
df2['url'] = df2.text.apply(lambda x: re.findall(URLPATTERN, x))
df2['email'] = df2.text.apply(lambda x: re.findall(EMAILPATTERN, x))

#df2['urls'] = ([int(s) for s in list_nombre.split(' ')]
    #[for i in range(d df2.Text.apply(lambda x: re.findall(URLPATTERN, x)).str
#df2.groupby('id').sum()['urlcount']
df2.head()

,id,text,class,urlcount,emailcount,url,email
0,-1,http://www.google.com http:/ew.bbc.com http://www.facebook.com yomama@gmail.com fakeass@huh,1,3,2,"[http://www.google.com, http:/ew.bbc.com, http://www.facebook.com]","[yomama@gmail.com, fakeass@huh]"
1,0,"Supply Quality China's EXCLUSIVE dimensions at Unbeatable Price.Dear Sir, We are pleased to inform you as one of China's largest export & import stone company-Wanlistone Group, The Group its subsidiaries specialize in the quarrying, processing and Sales of dimension stone, slab and tiles and dimension stone products for the building materials sector and specialty markets2E The Group operations are based in Xiamen, South of China, which is the largest export and import business portals in Chi...",1,0,0,[],[]
2,1,over. SidLet me know. Thx.,0,0,0,[],[]
3,2,"Dear Friend,Greetings to you.I wish to accost you with a request that would be of immense benefit to both of us. Being an executor of wills, it is possible that we may be tempted to make fortune out of our client's situations, when we cannot help it, or left with no better option. The issue I am presenting to you is a case of my client who willed a fortune to his next-of-kin. It was most unfortunate that he and his next-of-kin died on the same day the 31st October 1999 in an Egyptian airline...",1,1,0,[http:/ews.bbc.co.uk/1/hi/world/americas/502503.stm.I],[]
4,3,"MR. CHEUNG PUIHANG SENG BANK LTD.DES VOEUX RD. BRANCH,CENTRAL HONG KONG,HONG KONG. Let me start by introducing myself. I am Mr.Cheung Pui director of operations of the Hang Seng Bank Ltd. I have an urgent business suggestion for you.I honestly apologize and hope I do not cause you much embarrassment by contacting you through this means for a transaction of this magnitude,but this is due to confidentiality and prompt access reposed on this medium.Furthermore,due to this issue on my hands now,...",1,1,1,[http://www.forcetacticalarmy.com],[che_Pui67@yahoo.com.hk]

In [40]:
df2.describe()

                id         class      urlcount    emailcount
count  11930.00000  11930.000000  11930.000000  11930.000000
mean    5963.50000      0.434870      0.203353      0.296479
std     3444.03869      0.495761      1.236094      2.844893
min       -1.00000      0.000000      0.000000      0.000000
25%     2981.25000      0.000000      0.000000      0.000000
50%     5963.50000      0.000000      0.000000      0.000000
75%     8945.75000      1.000000      0.000000      0.000000
max    11928.00000      1.000000    102.000000    266.000000

In [84]:
urls = df2.loc[df2['urlcount'] > 0].iloc[1:, [5,2]]
urls

,url,class
3,[http:/ews.bbc.co.uk/1/hi/world/americas/502503.stm.I],1
4,[http://www.forcetacticalarmy.com],1
14,[http://www.radaruol.com.br],1
20,[http://yoursite.com],1
25,"[http://www.sinopec.com),]",1
...,...,...
11894,"[http://www2Ecnn2Ecom/2003/WORLD/africa/12/26/benin2Ecrash""]",1
11897,[http://www.lloydstsb.com.hkThank],1
11899,[http://uk.messenger.yahoo.com],1
11905,"[http3A2F2Fwww2Enewswatchngr2Ecom5D, http3A2F2Fwww2Ethisdayonline2Ecom2C]",1
11909,[http://www.cnn.com/WORLD/9708/06/guam.passenger.list/A],1

In [85]:
urls['class'].value_counts()

1    1525
0     102
Name: class, dtype: int64

In [100]:
authenticurl = pd.read_csv("authentic_urls.csv")
authenticurl.drop(columns=['Unnamed: 0'])
# class0url = authenticurl['website_url']
# class0url.head()
authenticurl = authenticurl.drop(columns=['Unnamed: 0', 'cleaned_website_text', 'Category'])
authenticurl.rename(columns={'website_url':'url'}, inplace=True)
authenticurl

                                                                                                                                  url
0                                                                                      https://www.booking.com/index.html?aid=1743217
1                                                                                                    https://travelsites.com/expedia/
2                                                                                                https://travelsites.com/tripadvisor/
3                                                                                               https://www.momondo.in/?ispredir=true
4     https://www.ebookers.com/?AFFCID=EBOOKERS-UK.network.affiliatewindow.85386&awc=7904_1606029543_518c2af76500871f76cadec26f8eb055
...                                                                                                                               ...
1403                                                                                                         http://www.oldwomen.org/
1404                                                                                                       http://www.webcamslave.com
1405                                                                                                      http://www.buyeuroporn.com/
1406                                                                          http://www.analdreamhouse.com/30/03/agecheck/index.html
1407                                                                                                   http://www.world-sex-news.com/

[1408 rows x 1 columns]

In [103]:
import math

frames = [url, authenticurl]

fullurls = pd.concat(frames)
fullurls['class'] = fullurls['class'].fillna(0)
fullurls

                                                          url  class
3      [http:/ews.bbc.co.uk/1/hi/world/americas/502503.stm.I]    1.0
4                          [http://www.forcetacticalarmy.com]    1.0
14                               [http://www.radaruol.com.br]    1.0
20                                      [http://yoursite.com]    1.0
25                                 [http://www.sinopec.com),]    1.0
...                                                       ...    ...
1403                                 http://www.oldwomen.org/    0.0
1404                               http://www.webcamslave.com    0.0
1405                              http://www.buyeuroporn.com/    0.0
1406  http://www.analdreamhouse.com/30/03/agecheck/index.html    0.0
1407                           http://www.world-sex-news.com/    0.0

[3035 rows x 2 columns]

In [ ]:
# url analysis